
.oasys .about header.masthead {
  position: relative;
  padding-top: 8rem;
  height: 500px;
}

.oasys .about header.masthead .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.oasys .about hr {
  border-color: #a2abb8;
  margin-top: 0px;
}

.oasys .about header.masthead h1 {
  font-size: 2rem;
}

.oasys .about header.masthead {
  z-index: 100;
  position: relative;
}

.oasys .about .hero_image {
  width: 100%;
  height: auto;
  text-align: right;
}

.oasys .about .hero_image img {
  position: absolute;
  right: 20px;
  bottom: 0px;
  max-width: 70%;
}

.oasys .about .vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.oasys .about .logo {
  max-height:200px;
}

@media (min-width: 768px) {
  .oasys .about header.masthead {
    padding-top: 8rem;
  }
  .oasys .about header.masthead h1 {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  .oasys .about .hero_image img {
    display: none;
  }
  .oasys .about .logo {
    max-height:120px;
  }
}


.oasys .about .showcase .showcase-text {
  padding: 3rem;
}

.oasys .about .showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
}

@media (min-width: 768px) {
  .oasys .about .showcase .showcase-text {
    padding: 7rem;
  }
}

.oasys .about .features-icons {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.oasys .about .features-icons .features-icons-item {
  max-width: 20rem;
}

.oasys .about .features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
}

.oasys .about .features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
}

.oasys .about .features-icons .features-icons-item:hover .features-icons-icon i {
  font-size: 5rem;
}

.oasys .about .testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.oasys .about .testimonials .testimonial-item {
  max-width: 18rem;
}

.oasys .about .testimonials .testimonial-item img {
  max-width: 12rem;
  box-shadow: 0px 5px 5px 0px #adb5bd;
}



.oasys .about .call-to-action .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}


.oasys .about .my-container {
    position: absolute;
    overflow: hidden;
    z-index: -50;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.oasys .about .my-container:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
   background-image: url("../assets/images/brand/oasys_bg_rust.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.oasys .about #particles-js {
  position: absolute;
  background-color: #07575b;
  z-index: -50;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.oasys .about .rz-small-margin{
 margin-right: 20rem;
 margin-left: 20rem;
 border-color: #07575b;
}
.oasys .about .rz-no-border{
  padding-top: 2em;
  padding-bottom: 7em;
}

.oasys .about .rz-no-border-special-1{
  padding-top: 0em;
  padding-bottom: 1em;
}
.oasys .about .rz-no-border-special-2{
  padding-top: 2em;
  padding-bottom: 2em;
}



.oasys .about .rz-font{
font-family: 'Open Sans', sans-serif;
}

.oasys .about .rz-fontsize-sm{
font-family: 'Open Sans', sans-serif;
font-size: 1.0em; 
}

.oasys .about .showcase{
background-color: #ffffff;
}

.oasys .about .svg {
    width: 100px;
    height: 100px;
}

.oasys .about .scrolled{
  background:#66a5ad;
}

.oasys .about .button1 {
  background-color: #ffffff;
  margin:0;
  border-color: #ffffff;
  color: #000000;
  } 

.oasys .about .button1:hover{
  background-color: #66a5ad;
  border-color: #000000;
}

.oasys .about .button2 {
  background-color: #000000;
  margin:0;
  border-color: #000000;
  color: #ffffff;
  } /* Green */

.oasys .about .button2:hover{
  background-color: #66a5ad;
  border-color: #66a5ad;
  color:#000000;
}

.oasys .about .h2, .oasys .about h2 {
    font-size: 2.5rem;
}

