
@font-face {
    font-family: 'Charter-Regular'; /* current Medium serif font */
    src: url('../assets/fonts/Charter-Regular.ttf');
}

@font-face {
    font-family: 'Charter-Bold'; /* current Medium serif font */
    src: url('../assets/fonts/Charter-Bold.ttf');
}

@font-face {
    font-family: 'Charter-Italic'; /* current Medium serif font */
    src: url('../assets/fonts/Charter-Italic.ttf');
}

@font-face {
    font-family: 'JafBernino-Regular'; /* current Medium sans-serif font */
    src: url('../assets/fonts/JafBernino-Regular.ttf');
}

@font-face {
    font-family: 'JafBernino-Light'; /* current Medium sans-serif font */
    src: url('../assets/fonts/JafBernino-Light.ttf');
}

@font-face {
    font-family: 'HelveticaNeue-Light'; 
    src: url('../assets/fonts/HelveticaNeue-Light.ttf');
}

/*
RobotoSlab is a very popular and well design serif font
FreightText is a former Medium serif font
Kievit is a former Medium sans-serif font 

@font-face {
    font-family: 'RobotoSlab-Medium';  
    src: url('../assets/fonts/RobotoSlab-Regular.ttf');
}

@font-face {
    font-family: 'RobotoSlab-Light';
    src: url('../assets/fonts/RobotoSlab-Light.ttf');
}

@font-face {
    font-family: 'FreightText-Regular'; 
    src: url('../assets/fonts/FreightText-Regular.ttf');
}

@font-face {
    font-family: 'FreightText-Bold'; 
    src: url('../assets/fonts/FreightText-Bold.ttf');
}

@font-face {
    font-family: 'Kievit';
    src: url('../assets/fonts/Kievit-Regular.ttf');
}

@font-face {
    font-family: 'SF-Pro-Display-Medium'; 
    src: url('../assets/fonts/SF-Pro-Display-Medium.otf') format("opentype");
}

@font-face {
    font-family: 'SF-Pro-Display-Regular';
    src: url('../assets/fonts/SF-Pro-Display-Regular.otf') format("opentype");
}

@font-face {
    font-family: 'SF-Pro-Text-Medium';
    src: url('../assets/fonts/SF-Pro-Text-Medium.otf') format("opentype");
}

@font-face {
    font-family: 'SF-Pro-Text-Regular'; 
    src: url('../assets/fonts/SF-Pro-Text-Regular.otf') format("opentype");
}
*/



html, body, svg, text {
  margin: 0;
  padding: 0;
  font-family: 'JafBernino-Regular';
  font-size: 0.95rem;
}

.oasys .ql-container.ql-snow {
    font-family: 'Charter-Regular';
}

.textAlignLeft {
	text-align: left;
}

.ql-picker-options {
  z-index: 9999 !important;
}

.oasys .main {
    background: #f0f3f5;
    display: flex;
    align-items: center;
}

.oasys .input-group mb-3 {
    margin:0 !important;
}

.oasys .app-header .navbar-brand {
    left: 15%;
}

.oasys .card-header {
    margin: 0;
    padding: 0.25rem 0.25rem;
    height: 3.0rem;
    /*background-color: #ffffff;*/
    border: none;
}

.oasys .card-hint {
    padding-left: 10px;
    color: #626970;
}

.oasys .card-fancy {
    position: relative;
}

.oasys .has-shadow {
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 9px 6px -6px #777;
}

.oasys .card-body {
    padding: 0rem 1.25rem 1.25rem 1.25rem;
}

.oasys .make-big {
    font-size: 60px;
}


.oasys .card-footer {
    margin: 0;
    padding: 0.25rem 0.25rem;
    height: 1.0rem;
    background-color: #ffffff;
    border: none;
}

.oasys .main-width {
    max-width: 750px;
}

.oasys .card {
    margin-bottom: 0;
}

.oasys .flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.oasys .form-control.header {
    font-weight: bold;
}

.oasys .bgprimary {
    background-color: #28CCB4;
}

.oasys .margin-right5 {
    margin-right: 5px;
}

.oasys .help-text {
    font-style: italic;
}

.oasys .paddingTop20 {
    padding-top: 20px;
}

.oasys .paddingBottom20 {
    padding-bottom: 20px;
}

.oasys .marginBottom20 {
    margin-bottom: 20px;
}

.oasys .cell-center {
    text-align: center;
    display:table-cell;
    vertical-align:middle;
}

.oasys .page-link {
    color: #2a9699;
}

.oasys .page-item.active .page-link {
    background-color: #2a9699;
    border-color: #2a9699;
}

/* ------------------ sidebar ----------------- */
.oasys .sidebar .sidebar-nav {
    flex: 0 0 auto;
}

.oasys .scrollbar-container {
    height: auto;
}

.oasys .sidebar .sidebar-minimizer {
    flex: 1 0 50px;
}

.oasys .sidebar-minimized.sidebar-fixed .sidebar .svgTocWrap{
    display: none;
}

.oasys .sidebar-button {
    margin-top: 10px;
    border-radius: 0.25rem;
    background-color: #3E4B54;
    color: #eeeeee;
    /* border: 1px solid #626970; */
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.oasys .sidebar-button:hover {
    background-color: #30444D;
}

.oasys .sidebar-button.publish {
    background-color: #2A9699;
}

.oasys .sidebar-button.publish:hover {
    background-color: #28CCB4;
}

.sidebar-minimized .oasys .sidebar-button {
    margin-left: -150px;
}

.sidebar-minimized .oasys svg {
    margin-left: -150px;
}

.oasys .sidebar-button.title input {
    font-weight: bold;
    background-color: #30444D;
    border-color: #30444D;
    color: #eeeeee;
    margin-left: -5px;
    margin-right: 5px;
    padding: 3px;
}

/* ------------------ video edit ----------------- */
.oasys .video-embed .noUi-handle {
    /*background-color: #F95032;
    border: 1px solid #C6361D;*/
    background-color: #A2ABB8;
    border: 1px solid #626970;
}

.oasys .video-embed .noUi-connect {
    /*background-color: #A47D90;*/
    background-color: #626970;
}

.oasys .video-embed .video-controls {
    display:flex;
}

.oasys .video-embed .form-control {
    width: 70px;
}

.oasys .video-embed .noUi-horizontal .noUi-handle {
    cursor: pointer;
    width: 15px;
    overflow: hidden;
    right: -5px;
    display: none;
}

.oasys .video-embed .noUi-handle-lower {
    background-image: url('../assets/icons/arrowRight.png');
    background-size: 12px 25px;
}

.oasys .video-embed .noUi-handle-upper {
    background-image: url('../assets/icons/arrowLeft.png');
    background-size: 12px 25px;
}

.oasys .video-embed .url-input {
    width: 300px;
}

.oasys .video-embed .fa-youtube {
    color: #3e4b54;
}

.oasys .videoEditWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/* ------------------ formula edit ----------------- */

.oasys .katex-display {
    margin: 0;
}

.oasys .math-renderview {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #626970;
    border-radius: 0.25rem;
}

.oasys .math-preview {
    color: #626970;
    border: 1px solid #626970;
    margin-top: 10px;
    padding: 10px;
    border-radius: 0.25rem;
}

/* ------------------- data view ------------------- */

.oasys .dataview .card-fancy {
    background-color: #f8f8f4;
    margin-bottom: 20px;
    width: auto;
}

.oasys .dataview .border-right {
    border-right: 2px solid #A2ABB8 !important;
}

.oasys .dataview .card-section {
    padding: 10px 15px 0px 15px;
    max-height: 70px;
}

.oasys .dataview .card-body {
    padding: 5px 0px 15px 0px;
}

.oasys .dataview .font-big {
    font-size: 1.5rem;
}

.oasys .dataview .card-body p {
    margin-bottom: 0px;
}

.oasys .dataview .table {
    background-color: #ffffff;
}

.oasys .dataview .table .active {
    background-color: #2a9699;
    color: #ffffff;
}

.oasys .dataview .table tbody .active:hover {
    background-color: #28ccb4;
    color: #ffffff;
}

.oasys .dataview .table tbody tr:hover {
    background-color: #28ccb4;
    color: #ffffff;
}

.oasys .dataview .chart-wrapper {
    margin: 0px 15px 5px 15px;
}

.oasys .dataview .medgrey {
    color: #626970;
}
