.horizontal-scroll {
  box-sizing: inherit;
}

.horizontal-scroll .btn-pill{
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  background-color:blue;
}

.horizontal-scroll .tile{
  textTransform: none; 
  borderRadius: 12px;
  margin:1em 1em 1em 1em;
}

.horizontal-scroll .parent{
  display: flex;
  align-items: center;
  justify-content: center;
}

.horizontal-scroll .pn-ProductNav_Wrapper {
  max-width: 900px;
  width: 100%;
  position: relative;
  padding: 0 12px;
}

.horizontal-scroll .pn-ProductNav_Wrapper_Mobile {
  max-width: 900px;
  width: 100%;
  position: relative;
  padding: 0 24px;
}

.horizontal-scroll .pn-ProductNav {
  /* Make this scrollable when needed */
  overflow-x: auto;
  /* We don't want vertical scrolling */
  overflow-y: hidden;
  /* For WebKit implementations, provide inertia scrolling */
  -webkit-overflow-scrolling: touch;
  /* We don't want internal inline elements to wrap */
  white-space: nowrap;
  /* If JS present, let's hide the default scrollbar */
  /* positioning context for advancers */
  position: relative;
  font-size: 0;
}

.horizontal-scroll .pn-ProductNav {
  /* Make an auto-hiding scroller for the 3 people using a IE */
  -ms-overflow-style: -ms-autohiding-scrollbar;
  /* Remove the default scrollbar for WebKit implementations */
}

.horizontal-scroll .pn-ProductNav::-webkit-scrollbar {
  display: none;
}

.horizontal-scroll .pn-ProductNav_Contents {
  float: left;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  position: relative;
}

.testingR{
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 90%);
}

.horizontal-scroll .pn-ProductNav_Contents-no-transition {
  -webkit-transition: none;
  transition: none;
}

.horizontal-scroll .pn-ProductNav_Link {
  text-decoration: none!important;
  color: black;
  font-size: 1rem;
  font-family: 'HelveticaNeue-Light',-apple-system, sans-serif;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 30px;
  border: 1px solid transparent;
  padding: 0 0px;
}

.horizontal-scroll .pn-ProductNav_Link:hover {
  color:inherit;
}

.horizontal-scroll .pn-ProductNav_Link[aria-selected="true"] {
  color: #111;
}

.horizontal-scroll .pn-Advancer {
  /* Reset the button */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  padding: 0;
  border: 0;
  /* Now style it as needed */
  position: absolute;
  top: 0;
  bottom: 0;
  /* Set the buttons invisible by default */
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.horizontal-scroll .pn-Advancer:focus {
  outline: 0;
}
.horizontal-scroll .pn-Advancer:hover {
  cursor: pointer;
}	

.horizontal-scroll .pn-Advancer_Left {
  left: 0;
}

.horizontal-scroll [data-overflowing="both"] ~ .pn-Advancer_Left, [data-overflowing="left"] ~ .pn-Advancer_Left {
  opacity: 1;
}

.horizontal-scroll .fade_Left{
  opacity: 0;
  position:absolute;
  top:0;
  left:0;
  display:block; 
  height:100%;
}

.horizontal-scroll [data-overflowing="both"] ~ .fade_Left, [data-overflowing="left"] ~ .fade_Left {
  opacity: 1;
}

.horizontal-scroll .fade_Right{
  opacity: 0;
  position:absolute;
  top:0;
  right:0;
  display:block; 
  height:100%;
}

.horizontal-scroll [data-overflowing="both"] ~ .fade_Right, [data-overflowing="right"] ~ .fade_Right {
  opacity: 1;
}

.horizontal-scroll .pn-Advancer_Right {
  right: 0;
}

.horizontal-scroll [data-overflowing="both"] ~ .pn-Advancer_Right, [data-overflowing="right"] ~ .pn-Advancer_Right {
  opacity: 1;
}

.horizontal-scroll .pn-Advancer_Icon {
  width: 10px;
  height: 22px;
  fill: rgb(39, 54, 62);
}

.horizontal-scroll .pn-ProductNav_Indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100px;
  background-color: transparent;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transition: background-color .2s ease-in-out, -webkit-transform .2s ease-in-out;
  transition: background-color .2s ease-in-out, -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out, background-color .2s ease-in-out;
  transition: transform .2s ease-in-out, background-color .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.horizontal-scroll .ellipseWebkit{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
