.ql-toolbar.ql-snow,
.ql-container.ql-snow {
  border: none;
}

.ql-container.ql-snow {
	height: '70vh';
	max-width: '400px';
}

/* Set default font-family */
#editor-container {
  font-family: "Mirza";
}

/* Set dropdown font-families */
#toolbar-container .ql-font span[data-label="Aref Ruqaa"]::before {
  font-family: "Aref Ruqaa";
}
#toolbar-container .ql-font span[data-label="Mirza"]::before {
  font-family: "Mirza";
}
#toolbar-container .ql-font span[data-label="Inconsolata"]::before {
  font-family: "Inconsolata";
}
#toolbar-container .ql-font span[data-label="Sailec"]::before {
  font-family: "Sailec";
}
#toolbar-container .ql-font span[data-label="Sofia"]::before {
  font-family: "Sofia";
}
#toolbar-container .ql-font span[data-label="Roboto"]::before {
  font-family: "Roboto";
}
#toolbar-container .ql-font span[data-label="Ubuntu"]::before {
  font-family: "Ubuntu";
}


/* Set content font-families */
.ql-font-mirza {
  font-family: "Mirza";
}
.ql-font-roboto {
  font-family: "Roboto";
}
.ql-font-inconsolata {
  font-family: "Inconsolata";
}
.ql-font-sailec {
  font-family: "Sailec";
}
.ql-font-sofia {
  font-family: "Sofia";
}
.ql-font-ubuntu {
  font-family: "Ubuntu";
}

#fontsize1 {
  font-size: 12px;
}
#fontsize2 {
  font-size: 18px;
}
#fontsize3 {
  font-size: 24px;
}
#fontsize4 {
  font-size: 30px;
}

/* set quill video embed size */

.ql-video {
	width: 640px;
	height: 480px;
}