.ql-toolbar.ql-snow,
.ql-container.ql-snow {
  border: none;
}

.ql-container.ql-snow {
	height: '70vh';
	max-width: '400px';
}

/* Set default font-family */
#editor-container {
  font-family: "Mirza";
}


/* Set content font-families */
.ql-font-mirza {
  font-family: "Mirza";
}
.ql-font-roboto {
  font-family: "Roboto";
}
.ql-font-inconsolata {
  font-family: "Inconsolata";
}
.ql-font-sailec {
  font-family: "Sailec";
}
.ql-font-sofia {
  font-family: "Sofia";
}
.ql-font-ubuntu {
  font-family: "Ubuntu";
}

/* set quill video embed size */

.ql-video {
	width: 640px;
	height: 480px;
}